*{
    margin: 25px;
}
#fondo{
    border-radius: 80px;
    border: solid;
    width: 800px;
    height: 800px;
    background-color: aqua;
}
#cabeza{
    
    border: solid;
    margin: auto;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    background-color: rgb(215, 215, 226);
    
}
#ojo{
    float: left;
    
    border-radius: 50px;
    width: 20px;
    height: 20px;
    background-color: black;
}
#ojo2{
    float: right;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    background-color: black;
}
#boca{
    width: 20px;
    height: 30px;
    
    background-color: black;
}

#torso{
    margin: auto;
    border-radius: 200px;
    width: 200px;
    height: 200px;
    background-color: rgb(215, 215, 226);
}
#brazo{
    margin: auto;
    border-radius: 200px;

    width: 250px;
    height: 10px;
    background-color: rgb(95, 76, 23);
}
#parteInferior{
    margin: auto;
    border-radius: 200px;
    width: 250px;
    height: 250px;
    background-color: rgb(215, 215, 226);
}
